<h2>Register</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}

  <label for="id_iban">give your iban:</label>
  <input type="text" id="iban" name="iban"><br>
  <label for="id_creditcard">your accounts creditcard number:</label>
  <input type="number" id="id_creditcard" name="creditcard"><br>
  <button type="submit">Register</button>

  {% for message in messages %}
      <div class="alert alert-success">
        <a class="close" href="/register" data-dismiss="alert">x</a>
        {{ message }}
      </div>
  {% endfor %}
</form>